# Based on GitHub gitignore for LabVIEW, found here:
# https://github.com/github/gitignore/blob/main/LabVIEW.gitignore

# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# Builds
builds/

# Project-specific files
logs/
